// Breakpoints
$breakpoints: (
  "tablet": 768px,
);

// Colors
$color-primary: rgba(175, 47, 47, 0.15);
$color-primary-dark: rgba(175, 47, 47, 0.35);
$color-white: white;
$color-grey: rgb(167, 167, 167);
$color-grey-light: rgb(214, 214, 214);
